{% for model in collection %}
<div class="panel panel-default {{ display_type_classes }}" {{ display_type_data_attrs }}>
    <div class="panel-heading">
        <h3 class="panel-title">#{{ model.pk }}</h3>
    </div>
    <div class="panel-body">
        <ul>
        {% for field, value in model.fields.items %}
            <li><strong>{{ field }}</strong>: {{ value }}</li>
        {% endfor %}
        </ul>
        <a href="{% url view_url model.pk %}" class="btn btn-xs btn-info">View</a>
    </div>
</div>
{% endfor %}
