{% extends "layouts/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<div class="col-md-12">
    <h1>All {{ model_name_nice }}</h1>
    {% with "{{{ app_name }}}.views."|add:model_name|lower|add:"_detail" as view_url %}
    {% with "{{{ app_name }}}.views."|add:model_name|lower|add:"_delete" as delete_url %}

    {% if display_type == 'table' %}
        {% include 'partials/models/as-table.html' %}
    {% elif display_type == 'list' %}
        {% include 'partials/models/as-list.html' %}
    {% elif display_type == 'panel' %}
        {% include 'partials/models/as-panel.html' %}
    {% else %}
        {% include 'partials/models/as-table.html' %}
    {% endif %}

    {% endwith %}
    {% endwith %}

    <hr>
    {% include 'partials/forms/modelform-generic.html' %}
</div>
{% endblock %}
