<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{{ app_name }}}</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {%% for active_model in all_models %%}
        <li><a href="{% url '{{{ app_name }}}.views.{{{ active_model|lower}}}' %}">{{{ active_model }}}</a></li>
        {%% endfor %%}
      </ul>
    </div>
  </nav>
