{% load bootstrap3 %}
<form action="." method="POST" role="form" class="clearfix form" enctype="multipart/form-data">
    {% csrf_token %}
    <legend><strong>{{ form_mode|capfirst }}</strong> {{ model_name|lower }}</legend>
    {% if form.error %}
    {% for error in form.error %}
    <span class="bg-danger">
        {{ error }}
    </span>
    {% endfor %}
    {% endif %}
    {% bootstrap_form form layout='{{{ form_display }}}' %}
    {% buttons %}
    <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "checkmark" %} Save
    </button>
    {% endbuttons %}
</form>
